<div>

    <form class="addForm" onsubmit="send()">
        
        <h2>Add book</h2>
        
        <label>Author</label>
        <select name="authorId" [(ngModel)]="book.authorId">
            <option disabled selected value="">Set author...</option>
            <option *ngFor="let a of authors">{{a.authorFirstName}} {{a.authorLastName}}</option>
        </select>

        <label>Book name</label>
        <input type="text" name="bookName">

        <label>Pages</label>
        <input type="text" name="pagesCount">

        <label>Price</label>
        <input type="number" step="0.01" name="price">
        
        <br><br>
        
        <button>Add</button>

    </form>


</div>