<div>

    <form class="addForm" (ngSubmit)="send()">
        
        <h2>Add book</h2>
        
        <label>Author</label>
        <select name="authorId" [(ngModel)]="book.authorId">
            <option disabled selected value="">Set author...</option>
            <option *ngFor="let a of authors" [value]="a.authorId">{{a.authorFirstName}} {{a.authorLastName}}</option>
        </select>

        <label>Book name</label>
        <input type="text" name="bookName" [(ngModel)]="book.bookName">

        <label>Pages</label>
        <input type="number" name="pagesCount" [(ngModel)]="book.pagesCount">

        <label>Price</label>
        <input type="number" step="0.01" name="price" [(ngModel)]="book.price">
        
        <br><br>

        <button>Add</button>

    </form>

</div>